<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taco Cloud</title>
</head>

<body>
    <h1>Welcome to...</h1>
    <h1>TacoCloud!!!</h1>
    <iframe src="https://giphy.com/embed/26tnkBmH8mogJfB8A" width="480" height="480" frameBorder="0"
        class="giphy-embed"></iframe>
    <p><a href="https://giphy.com/gifs/tacobell-taco-tacos-bell-26tnkBmH8mogJfB8A">via GIPHY</a></p>
    <a href="/design">DESIGN</a>
</body>

</html>